* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #74ebd5, #9face6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card {
    background-color: white;
    color: black;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
    width: 320px;
    margin: 15px 0;
}

.card img {
    width: 100%;
    border-radius: 8px;
    margin: 15px 0;
}

.card p {
     margin: 10px;
   color: #555;
    margin: 15px 0;
}

.card a {
        display: block;
    color: #467797;
    text-decoration: none;
    font-weight: bold;
}

.card a:hover {
    text-decoration: underline;
}


button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 18px;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
    margin: 15px 0;
}

button:hover {
    background-color: #2c80b4;
}

/* background: linear-gradient(135deg, #74ebd5, #9face6); */
/* color: #555; */
/* color: #3498db; */